bin/SwissRailwayClock.prg
bin/SwissRailwayClock.prg.debug.xml
bin/internal-mir/Rez.mir
bin/mir/source/SwissRailwayClockApp.mir
bin/mir/source/SwissRailwayClockSettings.mir
bin/mir/source/SwissRailwayClockView.mir
SwissRailwayClock.code-workspace
